# Данные (скачай с Kaggle вручную)
data/*.csv
data/*.tsv
data/*.xlsx

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.env
.venv/
venv/

# Prophet / Stan
prophet_cache/
cmdstan*/

# OS
.DS_Store
Thumbs.db
